@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Golos Text";
    font-weight: 400;
    src: url("/fonts/Golos-Text_Regular.woff2");
  }

  @font-face {
    font-family: "Golos Text";
    font-weight: 500;
    src: url("/fonts/Golos-Text_Medium.woff2");
  }

  @font-face {
    font-family: "Golos Text";
    font-weight: 600;
    src: url("/fonts/Golos-Text_DemiBold.woff2");
  }

  @font-face {
    font-family: "Golos Text";
    font-weight: 700;
    src: url("/fonts/Golos-Text_Bold.woff2");
  }

  @font-face {
    font-family: "Golos Text";
    font-weight: 800;
    src: url("/fonts/Golos-Text_Black.woff2");
  }
  @font-face {
    font-family: 'Liberation Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/LiberationSans-Regular.ttf');
  }
  @font-face {
    font-family: 'Liberation Sans';
    font-style: auto;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/LiberationSans-Bold.ttf');
  }
}
